<%-
include('partials/header.ejs');
%>


 <%-
 include('partials/searchBar.ejs');
 %>

 <section id="bedrijfOutput" class="flex justify-between mt-10">
  <table class="mt-5 w-5/12 mx-auto  ">
    <tr class="flex">
      <td class="font-bold w-1/5" >Naam</td> <td class="w-4/5"><%= bedrijfOutput.name %></td>
    </tr>
    <tr class="flex"> 
      <td class="font-bold  w-1/5">Adres</td> <td class="w-4/5"><%= bedrijfOutput.address.street %> <%= bedrijfOutput.address.number %></td>
    </tr>
    <tr class="flex">
      <td class=" w-1/5"> </td> <td class="w-4/5"><%= bedrijfOutput.address.postalCode %> <%= bedrijfOutput.address.city %></td>
    </tr>

    <tr class= ""><td class="h-5"></td></tr>

    <tr class="">
      <td class="font-bold">Datum neerlegging</td> <td class="text-right"><%= bedrijfOutput.depositDate %></td>
    </tr>
    <tr>
      <td class="font-bold">Eigen vermogen</td> <td class="text-right text-[color:green]"><%= bedrijfOutput.eigenVermogen %></td>
    </tr>
    <tr>
      <td class="font-bold">Schulden</td> <td class="text-right text-[color:red]"><%= bedrijfOutput.schulden %></td>
    </tr>
    <tr>
      <td class="font-bold">Bedrijfswinst</td class="text-right"> <td class="text-right text-[color:green]"> <%= bedrijfOutput.bedrijfswinst %></td>
    </tr>
    </table>

    <table class="mt-5 w-5/12 mx-auto  ">
      <tr class="flex">
        <td class="font-bold w-1/5" >Naam</td> <td class="w-4/5"><%= bedrijfOutput_2.name %></td>
      </tr>
      <tr class="flex"> 
        <td class="font-bold  w-1/5">Adres</td> <td class="w-4/5"><%= bedrijfOutput_2.address.street %> <%= bedrijfOutput_2.address.number %></td>
      </tr>
      <tr class="flex">
        <td class=" w-1/5"> </td> <td class="w-4/5"><%= bedrijfOutput_2.address.postalCode %> <%= bedrijfOutput_2.address.city %></td>
      </tr>

      <tr class= ""><td class="h-5"></td></tr>

      <tr class="">
        <td class="font-bold">Datum neerlegging</td> <td class="text-right"><%= bedrijfOutput_2.depositDate %></td>
      </tr>
      <tr>
        <td class="font-bold">Eigen vermogen</td> <td class="text-right text-[color:red]"><%= bedrijfOutput_2.eigenVermogen %></td>
      </tr>
      <tr>
        <td class="font-bold">Schulden</td> <td class="text-right text-[color:green]"><%= bedrijfOutput_2.schulden %></td>
      </tr>
      <tr>
        <td class="font-bold">Bedrijfswinst</td class="text-right"> <td class="text-right text-[color:red]"><%= bedrijfOutput_2.bedrijfswinst %></td>
      </tr>
      </table>
    </section>
  
 <%-
 include('partials/footer.ejs');
 %>
  </body>
  <script src="../assets/api.scripts.js"></script>
  </html>

     